dist: trusty
sudo: required
language: go
services:
- mysql
- rabbitmq
before_install:
- go get github.com/golang/dep/cmd/dep
install:
- dep ensure
before_script:
- go build -ldflags="-X main.Version=$TRAVIS_TAG"
- go get github.com/alecthomas/gometalinter
- gometalinter --install
- gometalinter --config=gometalinter.json
- go get golang.org/x/tools/cmd/cover
- go get github.com/mattn/goveralls
- echo "CREATE DATABASE efes" | mysql
- echo "GRANT ALL ON efes.* TO travis@'%'" | mysql
- echo 'FLUSH PRIVILEGES' | mysql
- mysql efes < schema.sql
- sudo cp config-travis.toml /etc/efes.toml
script: goveralls -v -race -package ./...
deploy:
  provider: releases
  skip_cleanup: true
  file: efes
  on:
    repo: putdotio/efes
    branch: travis  # TODO change to master
    tags: true
  api_key:
    secure: zX3ubUw6kE5s0ljkJEwO4l4GDkJ2Dd653Yh16KJf/z5jnesrA6XfynKnpornxVn/MR5p8YjsnOK9N6cMdqusxLPokXz9/jBgn6okXHL5MHbJzwRZfwGb+gcmeujU0qO6THzHfvGg+oHFLk2gqk1S2Uchpqkx4fj5Rjzut6ZWbXsAq2Tb8nAsdns2Utua8evC+8KCjWyqZNRPfXX+XJv2pTxxJS3FkNokfo8sSCs8TvQyDU0gb69n3PKr55Ed4YALt/X13HZtPLebH4uIsH3Bts+bt/o5ECcD2B5iQ+IvMXgjAhzz+Vbgu0r/OxY0jX5/2h0X5NDHUYXHJBXkl6abDxB2/Kxz2hzm+9wecRgl8teSRVFo8f69K+RwG0dS8dWJ9GElV0k7Hkc8SXLZ0F1OfKSYY2Lrs2viI+JoHU7qyn1I2HjGSz6ItqOvNPXcM+QYHCRBwX7G6vrBn3yCh6d2D1CrJ5IO21VFRXHGmuArlpeCRu4wekYflpCIFdbPF9RaWF91ChCpzEDn8HFbNi1/Xo1x9Qy4hWxm3ysFqfRHjrMnoWoi65F3MxoJZ5TMUx8m4u0AhPv3ws5ceZ0AmSB4I4LBOqrEN67N4d+6Qv7/SW3gnia6Ds0cl6Au1lUtE6LBWGIySwcYqOGPFxQaGjh8ErUvRmrc6gZQo55LUnewPYc=
