version: '3.9'
services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_USER: efes
      MYSQL_PASSWORD: 123
      MYSQL_DATABASE: efes
      MYSQL_RANDOM_ROOT_PASSWORD: 1
    volumes:
      - ./mysql/schema.sql:/docker-entrypoint-initdb.d/schema.sql
  rabbitmq:
    build:
      context: ./Docker/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: efes
      RABBITMQ_DEFAULT_PASS: 123
      RABBITMQ_NODENAME: efes@localhost
    logging:
      driver: none
  tracker:
    build:
      context: ./Docker/efes-tracker
    depends_on:
      - mysql
    tty: true
    privileged: true
  server1:
    build:
      context: ./Docker/efes-server
    command: ["1"]
    depends_on:
      - mysql
    tty: true
